.vc-slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
  position: relative;
}
.vc-slider .vc-slider-track {
  background-color: rgba(17, 18, 18, 0.1);
  border-radius: 3px;
}
.vc-slider .vc-slider-track .vc-slider-range {
  border-radius: 3px;
  background-color: rgba(17, 18, 18, 0.7);
  position: absolute;
  display: none;
}
.vc-slider .vc-slider-track .vc-slider-handle {
  background: #999;
  border: 6px solid #ffffff;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  position: absolute;
  display: none;
}
.vc-slider-horizontal {
  height: 6px;
  width: 300px;
  padding: 6px 9px;
}
.vc-slider-horizontal .vc-slider-track {
  height: 6px;
}
.vc-slider-horizontal .vc-slider-track .vc-slider-range {
  width: 0;
  height: 6px;
}
.vc-slider-horizontal-value .vc-slider-track .vc-slider-range {
  left: 9px;
  right: auto;
  top: auto;
  bottom: auto;
}
.vc-slider-horizontal-value .vc-slider-track .vc-slider-handle {
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  display: block;
}
.vc-slider-horizontal-min .vc-slider-track .vc-slider-range {
  left: 9px;
  right: auto;
  top: auto;
  bottom: auto;
  display: block;
}
.vc-slider-horizontal-min .vc-slider-track .vc-slider-handle {
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  display: block;
}
.vc-slider-horizontal-max .vc-slider-track .vc-slider-range {
  left: auto;
  right: 9px;
  top: auto;
  bottom: auto;
  display: block;
}
.vc-slider-horizontal-max .vc-slider-track .vc-slider-handle {
  left: auto;
  right: 0;
  top: 0;
  bottom: auto;
  display: block;
}
.vc-slider-vertical {
  width: 6px;
  height: 300px;
  padding: 9px 6px;
}
.vc-slider-vertical .vc-slider-track {
  height: 100%;
}
.vc-slider-vertical .vc-slider-track .vc-slider-range {
  width: 6px;
  height: 0;
}
.vc-slider-vertical-value .vc-slider-track .vc-slider-range {
  left: auto;
  right: auto;
  top: auto;
  bottom: 9px;
}
.vc-slider-vertical-value .vc-slider-track .vc-slider-handle {
  left: 0;
  right: auto;
  top: auto;
  bottom: 0;
  display: block;
}
.vc-slider-vertical-min .vc-slider-track .vc-slider-range {
  left: auto;
  right: auto;
  top: auto;
  bottom: 9px;
  display: block;
}
.vc-slider-vertical-min .vc-slider-track .vc-slider-handle {
  left: 0;
  right: auto;
  top: auto;
  bottom: 0;
  display: block;
}
.vc-slider-vertical-max .vc-slider-track .vc-slider-range {
  left: auto;
  right: auto;
  top: 9px;
  bottom: auto;
  display: block;
}
.vc-slider-vertical-max .vc-slider-track .vc-slider-handle {
  left: 0;
  right: auto;
  top: 0;
  bottom: auto;
  display: block;
}
.vc-slider-disabled {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.vc-slider-disabled * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.vc-slider-disabled .vc-slider-track .vc-slider-handle {
  cursor: default;
}
